body{
	background-color: #FFF;
}
.mui-content{
	background-color: #FFF;
}
.mui-bar-nav {
	background-color: rgba(80, 154, 255, 1);
}

.mui-bar-nav .mui-title {
	color: #FFF;
	font-weight: 400;
}

.mui-bar-nav .mui-icon {
	color: #FFF;
}

.dl-horizontal {
	color: #333;
	font-size: 14px;
}

.dl-horizontal dt {
	float: left;
	width: 60px;
	overflow: hidden;
	clear: left;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dl-horizontal dd {
	margin-left: 60px;
}

.mm-textarea {
	font-size: 14px;
	;
}

.mm-textarea::-webkit-input-placeholder {
	color: rgba(188, 193, 199, 1)
}

.mui-card {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}

.mui-card-content-inner {
	font-size: 16px;
}

.mui-card .date {
	color: #8792A1;
	font-size: 14px;
}

.mui-card .money {
	position: absolute;
	right: 10px;
	top: 35%;
	color: #509AFF;
}

.mui-card-footer:before,
.mui-card-header:after {
	background-color: #DBDDE0;
}

.mui-card .mm-badge {
	color: #FFF;
	background-color: #E1E4E9;
	font-size: 12px;
}

.mui-table-view span.mui-pull-right {
	color: #8792A1;
}

.mui-table-view:after,
.mui-table-view-cell:after,
.mui-table-view:before {
	background-color: #DBDDE0;
}

.mui-table-view-cell input {
	margin: 0;
	border: 0;
	text-align: right;
	padding: 0;
	height: auto;
}

.mui-table-view-cell select {
	margin: 0;
	border: 0;
	text-align: right;
	padding: 0;
	font-size: 17px;
	height: auto;
	color: rgb(135, 146, 161);
}

.mui-table-view-cell select option {
	text-align: right;
}

.message.mui-content>.mui-table-view:first-child {
	margin-top: 0;
}

.message .mui-ellipsis {
	color: #333;
	font-size: 16px;
	font-weight: 400;
}

.message .mui-ellipsis.date {
	font-size: 12px;
	margin-top: 10px;
}

.message .read .mui-ellipsis {
	color: #8792A1;
}

.guide.mui-content {
	padding-left: 20px;
	padding-right: 20px;
}

.guide h4 {
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin: 30px 0;
}

.guide p {
	padding: 0 15px;
	font-size: 12px;
	margin-top: 10px;
}

.login {
	padding: 0 15px;
}

.login .top {
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: #4E4E4E;
	margin-top: 80px;
}

.login .top img {
	width: 68px;
	height: 68px;
	margin-bottom: 20px;
}

.login .form {
	border: 0.5px solid #CFCFCF;
	border-radius: 10px;
	margin-top: 28px;
	margin-bottom: 20px;
}
.login .remember {
	margin-bottom: 20px;
}

.login .mui-input-group:before,
.login .mui-input-group:after {
	height: 0;
}

.login .mui-input-group .mui-input-row:nth-of-type(2):after {
	height: 0;
}

.login .mui-input-group .mui-input-row:after {
	left: 0;
}

.login .mui-input-group .mui-input-row {
	height: 50px;
}

.login .mui-input-row .input-left-label {
	color: #CFCFCF;
	width: 30%;
	font-size: 14px;
	padding: 18px 15px;
	line-height: 1;
}

.login .mui-input-row label~input {
	width: 70%;
	font-size: 14px;
	padding: 25px 0;
}

.login ::-webkit-input-placeholder {
	color: #CFCFCF;
}

.login .mui-card-footer:before {
	height: 0
}

.login .mui-card-footer {
	font-size: 13px;
	padding: 0;
	min-height: 30px;
}

.login .mui-card-footer a {
	color: #4E4E4E;
}

.login .mui-btn-block {
	margin-bottom: 0;
	font-size: 14px;
}

.login .bot {
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
	font-size: 12px;
	color: #666;
	text-align: center;
}

.form form {
	margin-top: 10px;
}

.form .mui-input-group .mui-input-row {
	height: 60px;
}

.form .mui-input-row label {
	color: #CFCFCF;
	width: 35%;
	font-size: 14px;
	padding: 23px 15px;
	line-height: 1;
}

.form .mui-input-row label~input {
	width: 65%;
	font-size: 14px;
	padding: 30px 10px;
}

.form .mui-input-row label~select {
	width: 65%;
	font-size: 14px;
	padding: 22px 10px;
	margin-top: 0;
	height: auto;
}

.form .mui-input-row .mui-input-clear~.mui-icon-clear {
	top: 20px
}

.form .smsCode {
	font-size: 14px;
	position: absolute;
	z-index: 1;
	top: 20px;
	right: 5px;
	width: 75px;
	text-align: left;
}
#downCode{
	display: none;
}

.form .mui-input-group:before,
.form .mui-input-group:after {
	height: 0;
}

.form .mui-input-group .mui-input-row:after {
	left: 0;
}

.form .mui-btn-block {
	font-size: 14px;
	padding: 10px 0;
	width: 80%;
	margin: 30px auto 0;
}

.form .must {
	color: #FD434A;
}

.form .explain {
	color: #FD434A;
	padding: 5px;
	font-size: 12px;
}

.rotate {
	-webkit-animation: rotation 2s linear infinite;
	animation: rotation 2s linear infinite;
}

@-webkit-keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.settings{
	background: #EFF1F4;
}
.settings .mui-content{
	background: #EFF1F4;
}
.new-message{
	width:10px;
	height:10px;
	border-radius: 50%;
	background: #dd524d;
	position: absolute;
	top: 10px;
	right:10px;
}
@media screen and (max-height:490px){
    .login .bot {
    		position: relative;
    }
}