<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>明阅电子发票</title>
		<script src="dist/js/mui.min.js"></script>
		<link href="dist/css/mui.min.css" rel="stylesheet" />
		<link href="css/index.css" rel="stylesheet" />
		<script src="js/common.js"></script>
	</head>

	<body class="index">
		<header class="mui-bar mui-bar-nav" style="box-shadow: none;">
			<a class="mui-icon mui-icon-gear mui-icon mui-icon-left-nav mui-pull-left" onclick="swap('settings')"></a>
			<a class="mui-icon mui-icon-email mui-icon mui-icon-right-nav mui-pull-right" onclick="swap('message')"><i id="newMessage" class="new-message"></i></a>
			<h2 class="mui-title">上传发票</h2>
		</header>
		<nav class="mui-bar mui-bar-tab">
			<a id="tab-item-upload" class="mui-tab-item mui-active" href="#tabbar">
				<span class="mui-icon mui-icon-upload"></span>
				<span class="mui-tab-label">上传发票</span>
			</a>
			<a id="tab-item-list" class="mui-tab-item" href="#tabbar-with-chat">
				<span class="mui-icon mui-icon-list"></span>
				<span class="mui-tab-label">我的发票</span>
			</a>
		</nav>
		<div class="mui-content">
			<div id="tabbar" class="mui-control-content mui-active">
				<img id="banner" src="./img/bag.png" style="width:100%" />
				<div class="mui-content-padded" style="position:relative">
					<div class="mui-input-row" style="margin: 15px 0 0px;">
						<textarea class="mm-textarea" id="link" rows="4" placeholder="请复制电子发票链接地址粘贴在此处，提交上传！" style="margin-bottom: 10px;;"></textarea>
						<p style="font-size: 12px;color:#8792A1;" id="finance"></p>
					</div>
					<button type="button" id="submit" class="mui-btn mui-btn-primary mui-btn-block" disabled="disabled">提交</button>

					<div class="mui-backdrop" id="isLoading" style="opacity:1;position:absolute;background-color: rgba(255,255,255,.3);display: none;">
						<div class="mui-pull" style="top: 50px;">
							<div class="mui-pull-loading mui-icon mui-spinner" style="transition: -webkit-transform 0.3s ease-in; transform: rotate(180deg); animation: spinner-spin 1s step-end infinite;"></div>
							<div class="mui-pull-caption">正在提交...</div></div>
					</div>
				</div>
			</div>
			<div id="tabbar-with-chat" class="mui-control-content" style="position:absolute;top: 0; bottom: 50px;width:100%">
				<div id="pullrefresh" class="mui-content mui-scroll-wrapper" style="top: 0; bottom: 0px;">
					<div class="mui-scroll">
						<div ng-app="myApp" ng-controller="myCtrl" id="list" class="mui-content-padded" style="margin:60px 10px 10px">
							<div ng-if="hasData" class="mui-card" ng-repeat="item in data">
								<div class="mui-card-content">
									<div class="mui-card-content-inner">
										{{item.salesName}}
										<br/>
										<span class="date">{{item.fpDate}}</span>
										<span class="money">￥{{item.sumWithTax}}</span>
									</div>
								</div>
								<div class="mui-card-footer">
									<span><i class="mui-icon mui-icon-flag"></i> <span>{{item.createDate}}</span></span>
									<span class="mui-badge mui-badge-warning" ng-class="{'mui-badge-warning':item.fpHandleStatus!='3','mm-badge':item.fpHandleStatus=='3'}">
										<span ng-if="item.fpHandleStatus=='0'">查验中</span>
										<span ng-if="item.fpHandleStatus=='1'">查验失败</span>
										<span ng-if="item.fpHandleStatus=='2'">未打印</span>
										<span ng-if="item.fpHandleStatus=='3'">已打印</span>
									</span>
								</div>
							</div>
							<div  ng-if="!hasData" style="text-align: center;color: #aaa;">
								无数据
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/lib/FastClick.js"></script>
		<script src="js/lib/angular.min.js"></script>
		<script src="js/index.js"></script>
	</body>

</html>